@import "tailwindcss";

@theme {
  --color-brand-green: #064e3b; /* emerald-950 */
  --color-accent-green: #dae2d5; /* sage-200 */
  --color-anthracite: #2f2f2f;
  --color-cream: #fafaf9; /* stone-50 */

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, "Times New Roman", Times, serif;
}


@layer base {
  body {
    @apply bg-cream text-anthracite antialiased;
  }
  .font-serif {
    font-variant-ligatures: none !important;
    font-feature-settings: "liga" 0, "clig" 0, "calt" 0, "dlig" 0 !important;
  }
}

@keyframes subtle-zoom {
  0% { transform: scale(1.05); }
  100% { transform: scale(1.1); }
}

.animate-subtle-zoom {
  animation: subtle-zoom 20s ease-in-out infinite alternate;
}

/* Solución para ligaduras y kerning en Playfair Display */
.no-ligatures {
  font-variant-ligatures: none !important;
  font-feature-settings: "liga" 0, "clig" 0, "calt" 0, "dlig" 0 !important;
  letter-spacing: 0.08em !important; /* Ajustado a 0.08em */
}
